In [2]:
import pandas as pd

In [3]:
# Reading CSVs and Making DataFrames
reviews = pd.read_csv("reviews.csv")
listings = pd.read_csv("listings.csv")

In [4]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,90676,619503,2011-10-11,1160153,Kelly,Audra was very welcoming and seems like she'd ...
1,90676,683039,2011-11-01,1290336,Dave,Audra was a very helpful and gracious host. T...
2,90676,972073,2012-03-05,1160684,Seth,Audra has a very beautiful home in a convenien...
3,90676,1067300,2012-04-01,1290336,Dave,Ggreat house and a great location and the host...
4,90676,1083843,2012-04-04,1919810,Josh,Audra and Lacey were such wonderful hosts and ...

In [34]:
listings.head()
listings.nunique()
# listings.iloc[:, 9:26].nunique()
listings.host_url

0          https://www.airbnb.com/users/show/483306
1         https://www.airbnb.com/users/show/2350409
2         https://www.airbnb.com/users/show/2889677
3         https://www.airbnb.com/users/show/4965048
4         https://www.airbnb.com/users/show/4965048
                           ...
2663    https://www.airbnb.com/users/show/390404025
2664     https://www.airbnb.com/users/show/72965873
2665     https://www.airbnb.com/users/show/52044755
2666    https://www.airbnb.com/users/show/519608982
2667    https://www.airbnb.com/users/show/552434649
Name: host_url, Length: 2668, dtype: object